body {
    margin: 0;
}
/* phan dau web */
#head {
    position: sticky;
    z-index: 999; 
    top: 0;
}
#head .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f172a;
    padding: 10px;
    flex-direction: row;
}

#head .container>div {
    border: 2px solid red;
    padding: 10px;
}

#head .container h4 {
    text-transform: uppercase;
    color:#38bdf8;
    letter-spacing: 1px;
}


/*     */